site_name: TheAtlasEngine
repo_url: https://github.com/engine3d-dev/TheAtlasEngine
repo_name: Github Repo

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/engine3d-dev/TheAtlasEngine

theme:
  name: material
  logo: mkdocs/assets/Preview.jpg
  features:
    - navigation.tabs
    - content.tabs.link
    - toc.integrate
    - navigation.tracking
    - navigation.footer
  # custom_dir: 'custom_theme/'
  highlightjs: true
  hljs_style:
    - monokai
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: blue grey
      accent: purple
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: blue grey
      accent: lime
      
extra_css:
  - assets/styles.css

docs_dir: mkdocs

plugins:
  - mkdoxy:
      projects:
        References: # name of project must be alphanumeric + numbers (without spaces)
          src-dirs: ./TheAtlasEngine/src # path to source code (support multiple paths separated by space) => INPUT
          full-doc: True # if you want to generate full documentation
          # doxy-cfg: # standard doxygen configuration (key: value)
            # FILE_PATTERNS: "*.hpp*" # specify file patterns to filter out
            # RECURSIVE: True # recursive search in source directories
            # EXCLUDE_PATTERNS: "*.md" # exclude markdown files
  - search
  - literate-nav:
      nav_file: summary.md
      tab_length: 2

markdown_extensions:
  - admonition
  - pymdownx.mark # highlighting
  - pymdownx.superfences # nest code
  - codehilite # code syntax coding
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - toc:
      permalink:
  # - attr_list
  # - pymdownx.emoji:
  #     emoji_index: !!python/name:material.extensions.emoji.twemoji
  #     emoji_generator: !!python/name:material.extensions.emoji.to_svg

copyright: |
  &copy; 2024 <a href="https://github.com/engine3d-dev" target="_blank" rel="noopener">Aaron Herr</a>
